<div class="center">
	<div class="form-center">
		<form>
			<penny-amount-input></penny-amount-input>
			<penny-date-input></penny-date-input>
			<penny-category-input></penny-category-input>
			<textarea class="u-full-width" placeholder="Comments" ng-model="vm.spend.comments"></textarea>

			<input class="button-primary" type="submit" ng-click="vm.saveSpend(vm.spend)">
		</form>
	</div>
	
	<table class="center">
		<thead>
			<tr>
				<th class="first-column">Date</th>
				<th>Amount</th>
				<th>Category</th>
				<th >Comments</th>
			</tr>
		</thead>
		<tbody>
			<tr ng-repeat="spend in vm.spends">
				<td class="first-column">{{spend.date | date : 'longDate'}}</td>
				<td>{{spend.amount | currency : "£" : 0 }}</td>
				<td>{{spend.category}}</td>
				<td class="comments-column">{{spend.comments}}</td>
			</tr>
		</tbody>
	</table>
</div>